header {
  flex: 0 0 auto;
  width: 100%;
  background: var(--color-primary);
  /* position: fixed; */
  /* z-index:1;*/
  top: 0;
}
header #logo {
  float: left;
  padding-top: 2rem;
}
header .nav {
  float: right;
  padding-bottom: 0.3rem;
}
header .nav ul {
  /* 解决导航偏右问题 */
  padding: 0;
  margin: 0;
}
header .nav ul li {
  font-weight: bold;
  display: inline-block;
  padding: 0 0.3rem;
}
header .nav a {
  color: var(--color-primary-lighter);
}
header .nav a:hover {
  color: var(--color-primary-darker);
}
header .nav .active a {
  color: var(--color-primary-darker);
}
/* IE8 + IE9 clearfix */
header > .container:after {
  content: "";
  display: block;
  clear: both;
}
header p {
  margin: 0;
}

main {
  /* margin-top: 120px; */
  flex: 1 0 auto;
  padding: 1rem 0 0;
}

main .subnav {
  float: left;
  width: 21%;
  text-align: center;
}
main .subnav ul {
  /* list-style-type: none; */
  margin: 1rem 0 0 0;
  padding: 0;
  width: 100%;
  background-color: var(--color-base-brighter);
}
main .subnav li a {
  display: block;
  color: var(--color-base-darker);
  margin: 0 -1px -1px 0;
  padding: 6px;
  border: 1px solid var(--color-back);
  /* text-decoration: none; */
}
main .subnav li a:hover {
  background-color: var(--color-base-bright);
  color: var(--color-back);
}
main .subnav-content {
  float: left;
  width: 79%;
  margin: 0;
  padding: 0 0 0 2rem;
}

.container {
  overflow: hidden;
  max-width: 62rem;
  margin: 0 auto;
}

ending {
  /*首位必须为0，否则footer异常*/
  flex: 0 0 auto;
  background: var(--color-primary);
  color: var(--color-primary-light);
  font-size: 0.9rem;
  padding: 1rem 1rem;
  /* margin: 2rem 2rem; */
}
ending a {
  color: var(--color-primary-lighter);
  /* 换行不断词 */
  /* display: inline-block;  */
}
ending a:hover {
  color: var(--color-primary-darker);
}
ending ul,
p {
  margin-bottom: 0;
}
ending .left-1,
ending .left-2,
ending .left-3 {
  float: left;
  width: 15%;
  text-align: left;
  padding: 1rem 1rem;
}
ending .right {
  float: right;
  /* width: 50%; */
  text-align: right;
  padding: 1rem 1rem;
}

footer {
  /*首位必须为0，否则footer异常*/
  flex: 0 0 auto;
  background: var(--color-primary);
  color: var(--color-primary-light);
  padding: 2rem 1rem;
  font-size: 0.9rem;
  text-align: center;
  /* margin: 1rem 0 0 0; */
}
footer a {
  color: var(--color-primary-lighter);
  /* 换行不断词 */
  /* display: inline-block;  */
}
footer a:hover {
  color: var(--color-primary-darker);
}
footer hr {
  border: none;
  border-top: 1px solid var(--color-gray-light);
  margin: 0 0 2rem 0;
}
