header {
  flex: 0 0 auto;
  width: 100%;
  background: var(--color-primary);
  /* position: fixed; */
  /* z-index:1;*/
  top: 0;
}
header p {
  margin: 0;
}
header #logo {
  float: left;
  padding: 25px 0;
}
header .nav {
  float: right;
  padding: 60px 0 10px 0;
}
header .nav ul li {
  font-weight: bold;
}
header .nav a {
  color: var(--color-primary-lighter);
}
header .nav a:hover {
  color: var(--color-primary-darker);
}
header .nav .active a {
  color: var(--color-primary-darker);
}
/* IE8 + IE9 clearfix */
header > .container:after {
  content: "";
  display: block;
  clear: both;
}
.nav ul {
  /* 解决导航偏右问题 */
  padding: 0;
  margin: 0;
}
.nav ul li {
  display: inline-block;
  padding: 0 0.3rem;
}

main {
  /* margin-top: 120px; */
  flex: 1 0 auto;
  padding: 1rem 0 0;
}

main .subnav {
  float: left;
  width: 21%;
  text-align: center;
}
main .subnav ul {
  /* list-style-type: none; */
  margin: 1rem 0 0 0;
  padding: 0;
  width: 100%;
  background-color: var(--color-base-brighter);
}
main .subnav li a {
  display: block;
  color: var(--color-base-darker);
  margin: 0 -1px -1px 0;
  padding: 6px;
  border: 1px solid var(--color-back);
  /* text-decoration: none; */
}
main .subnav li a:hover {
  background-color: var(--color-base-bright);
  color: var(--color-back);
}
main .subnav-content {
  float: left;
  width: 79%;
  margin: 0;
  padding: 0 0 0 2rem;
}

.container {
  overflow: hidden;
  max-width: 62rem;
  margin: 0 auto;
  text-align: center;
  /* background-color: red; */
}

.unit {
  float: left;
  width: 100%;
  margin: 1rem 0rem;
}

.card {
  float: left;
  border: 1px solid var(--color-gray-dark);
  padding: 1.5rem 1.5rem;
  margin: 1rem 0.5rem;
}
.o1 {
  width: calc(100% - 1rem);
}
.o2 {
  width: calc(50% - 1rem);
}
.o3 {
  width: calc(33.333% - 1rem);
}
.o4 {
  width: calc(25% - 1rem);
}
.o5 {
  width: calc(20% - 1rem);
}


ending {
  /*首位必须为0，否则footer异常*/
  flex: 0 0 auto;
  background: var(--color-primary);
  color: var(--color-primary-light);
  font-size: 0.9rem;
  padding: 1rem 1rem;
  /* margin: 2rem 2rem; */
}
ending a {
  color: var(--color-primary-lighter);
  /* 换行不断词 */
  /* display: inline-block;  */
}
ending a:hover {
  color: var(--color-primary-darker);
}
ending ul,p {
  margin-bottom: 0;
}
ending .left {
  float: left;
  width: 25%;
  text-align: left;
  padding: 1rem 1rem;
}
ending .center {
  float: left;
  width: 25%;
  text-align: center;
  padding: 1rem 1rem;
}
ending .right {
  float: right;
  width: 50%;
  text-align: right;
  padding: 1rem 1rem;
}

footer {
  /*首位必须为0，否则footer异常*/
  flex: 0 0 auto;
  background: var(--color-primary);
  color: var(--color-primary-light);
  padding: 2rem 1rem;
  font-size: 0.9rem;
  text-align: center;
  /* margin: 1rem 0 0 0; */
}
footer a {
  color: var(--color-primary-lighter);
  /* 换行不断词 */
  /* display: inline-block;  */
}
footer a:hover {
  color: var(--color-primary-darker);
}
footer ul,p {
  margin-bottom: 0;
}
