@media (max-width: 1040px) {
  header #logo {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
  }
  header .nav {
    text-align: center;
    width: 100%;
  }

  main .subnav {
    width: 100%;
  }
  main .subnav ul {
    margin: 0 0 1rem 0;
  }
  main .subnav li a {
    margin: 0 0 -1px -1px;
    padding: 8px 16px;
  }
  main .subnav-content {
    width: 100%;
    padding: 0;
  }

  .ucp .card {
    width: calc(100% - 1rem);
  }

  ending .left-1,
  ending .left-2,
  ending .left-3 {
    width: 100%;
  }
  ending .right {
    width: 100%;
    text-align: center;
  }
}
